body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    margin: 0px;
}

.head {
    background-color: #1F2937;
    display: flex;
    padding: 0 100px;
}

.main-head {
    color: #F9FAF8;
    font-size: 24px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.head-links {
    margin-left: auto;
    font-size: 18px;
    display: flex;
    gap: 20px;
}

.footer {
    display: flex;
    background-color: #1F2937;
    font-size: 18px;
    color: #E5E7EB;
    justify-content: center;
    align-items: center;
    height: 80px;

}
.image {
    height: 250px;
    width: auto;
}

.hero {
    display: flex;
    justify-content: center;
    gap: 50px;
    background-color: #1F2937;
    flex: 1;
    align-items: center;
    padding: 75px;
}

h1 {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    display: inline;
}
.content {
    width: 500px;
}

.content p {
    font-size: 18px;
    color: #E5E7EB;
    
}

.content button {
    background-color: #3882F6;
    padding: 5px 20px;
    border-radius: 5px;
    border: 0;
    color: #E5E7EB;
    font-weight: bold;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.members {
    display: flex;
    gap: 25px;

}

.info h2 {
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
}

.members img {
    height: 200px;
    width: 200px;
    border: 5px solid #3882F6;
    border-radius: 15px;
    margin: 0px;
}

.members p {
    margin: 0px;
    width: 200px;
    text-align: justify;
}

.quote{
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 200px;
}

.quote p {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    margin: 0;
}

.quote div {
    font-weight: bold;
    font-size: 24px;
    align-self: flex-end;
}